### Posible enunciado para trabajo final
1. Cargar el dataset 'cazymes.tab.gz'
2. Escriba todos los nombres de las columnas en minusculas
3. Cuantos organismos hay en el dataset? Reemplace sus nombres por el formato "Genero_especie" ultilizando expresiones regulares
3. Realice un subset del organismo 'Arabidopsis thaliana'
4. Elimine las columnas "status" y "organism id"
6. Utilizando expresiones regulares extraiga el numero EC de la col "protein name" y guardelo en una nueva columna "ec_codigo"
7. Cambie el nombre de la columna "cross-reference (cazy)" por "familia_cazy"
8. Elimine el punto y coma (";") en la Serie "familia_cazy"
9. me faltaria que hagan algo con las secuencias y algo de cuentas o agrupamiento con los grupos de Cazy (GT, GH, PL, etc)

In [16]:
import pandas as pd

table = pd.read_csv('uniprot-filtered-reviewed_yes.tab.gz', sep='\t')
table = table[table.Organism.isin(["Homo sapiens (Human)", "Mus musculus (Mouse)", "Arabidopsis thaliana (Mouse-ear cress)", "Rattus norvegicus (Rat)", "Saccharomyces cerevisiae (strain ATCC 204508 / S288c) (Baker's yeast)"])]
table = table[(table['Cross-reference (CAZy)'].notnull())]
table.to_csv('cazymes.tab.gz', sep='\t', index=False, compression='gzip')

In [68]:
import pandas as pd

cazy = pd.read_csv('cazymes.tab.gz', sep='\t')
cazy.columns = cazy.columns.str.lower()
cazy.head()

,entry,entry name,status,protein names,organism,length,gene names (primary ),cross-reference (cazy),gene ontology (molecular function),gene ontology ids,organism id,sequence
0,P38130,KTR3_YEAST,reviewed,Probable mannosyltransferase KTR3 (EC 2.4.1.-),Saccharomyces cerevisiae (strain ATCC 204508 /...,404,KTR3,GT15;,"alpha-1,2-mannosyltransferase activity [GO:000...",GO:0000026; GO:0000030; GO:0000032; GO:0000324...,559292,MSVHHKKKLMPKSALLIRKYQKGIRSSFIGLIIVLSFLFFMSGSRS...
1,P15703,BGL2_YEAST,reviewed,"Glucan 1,3-beta-glucosidase (EC 3.2.1.58) (Exo...",Saccharomyces cerevisiae (strain ATCC 204508 /...,313,BGL2,GH17;,"1,3-beta-glucanosyltransferase activity [GO:00...",GO:0000324; GO:0004338; GO:0005576; GO:0005975...,559292,MRFSTTLATAATALFFTASQVSAIGELAFNLGVKNNDGTCKSTSDY...
2,Q06350,CHI2_YEAST,reviewed,Sporulation-specific chitinase 2 (EC 3.2.1.14),Saccharomyces cerevisiae (strain ATCC 204508 /...,511,CTS2,GH18;,chitinase activity [GO:0004568]; chitin bindin...,GO:0000272; GO:0004568; GO:0005576; GO:0005737...,559292,MVGHSAQHRSKSSLVSHLLILLIFITIIIEMCLYNKIFKNQRSDDI...
3,P38211,GPI18_YEAST,reviewed,GPI mannosyltransferase 2 (EC 2.4.1.-) (GPI ma...,Saccharomyces cerevisiae (strain ATCC 204508 /...,433,GPI18,GT76;,"alpha-1,6-mannosyltransferase activity [GO:000...",GO:0000009; GO:0000030; GO:0004376; GO:0005739...,559292,MIVGLTLYFVLFRSIQYLLVFLTPIRQFDTSTSLLLNELCSSPSEI...
4,P32363,GPI3_YEAST,reviewed,Phosphatidylinositol N-acetylglucosaminyltrans...,Saccharomyces cerevisiae (strain ATCC 204508 /...,452,SPT14,GT4;,phosphatidylinositol N-acetylglucosaminyltrans...,GO:0000506; GO:0005783; GO:0005829; GO:0006506...,559292,MGFNIAMLCDFFYPQLGGVEFHIYHLSQKLIDLGHSVVIITHAYKD...

In [69]:
cazy.organism.value_counts()

Arabidopsis thaliana (Mouse-ear cress)                                   660
Homo sapiens (Human)                                                     293
Mus musculus (Mouse)                                                     266
Rattus norvegicus (Rat)                                                  134
Saccharomyces cerevisiae (strain ATCC 204508 / S288c) (Baker's yeast)    125
Name: organism, dtype: int64

In [71]:
patt ='[A-Z]{1}[a-z]+\s[a-z]+'
cazy.organism = cazy.organism.map(lambda x: re.findall(patt, x))
cazy.organism = cazy.organism.str[0]
cazy.organism

0       Saccharomyces cerevisiae
1       Saccharomyces cerevisiae
2       Saccharomyces cerevisiae
3       Saccharomyces cerevisiae
4       Saccharomyces cerevisiae
                  ...
1473        Arabidopsis thaliana
1474        Arabidopsis thaliana
1475        Arabidopsis thaliana
1476        Arabidopsis thaliana
1477        Arabidopsis thaliana
Name: organism, Length: 1478, dtype: object

In [119]:
cazy.organism = cazy.organism.str.replace(' ','_')
cazy.organism

0       Saccharomyces_cerevisiae
1       Saccharomyces_cerevisiae
2       Saccharomyces_cerevisiae
3       Saccharomyces_cerevisiae
4       Saccharomyces_cerevisiae
                  ...
1473        Arabidopsis_thaliana
1474        Arabidopsis_thaliana
1475        Arabidopsis_thaliana
1476        Arabidopsis_thaliana
1477        Arabidopsis_thaliana
Name: organism, Length: 1478, dtype: object

In [120]:
at = cazy[cazy.organism == 'Arabidopsis_thaliana']
at

,entry,entry name,status,protein names,organism,length,gene names (primary ),cross-reference (cazy),gene ontology (molecular function),gene ontology ids,organism id,sequence
818,Q9ZSJ0,RGXT2_ARATH,reviewed,"UDP-D-xylose:L-fucose alpha-1,3-D-xylosyltrans...",Arabidopsis_thaliana,367,RGXT2,GT77;,"transferase activity, transferring glycosyl gr...",GO:0000139; GO:0005794; GO:0010306; GO:0016021...,3702,MAQKQQTLHQQRPFSSSPRSYSSISNRPIFLLSRNGLLLVLLALFL...
819,Q9LZV3,MAN6_ARATH,reviewed,"Mannan endo-1,4-beta-mannosidase 6 (EC 3.2.1.7...",Arabidopsis_thaliana,448,MAN6,GH5;,"mannan endo-1,4-beta-mannosidase activity [GO:...",GO:0005576; GO:0009845; GO:0016985; GO:0071704,3702,MKDQLGFRIVLCSAVFIILTQNRALADLDSESHEVNSESVGEEQWE...
820,Q8LPJ3,MANA2_ARATH,reviewed,Probable alpha-mannosidase At5g13980 (EC 3.2.1...,Arabidopsis_thaliana,1024,NaN,GH38;,alpha-mannosidase activity [GO:0004559]; carbo...,GO:0004559; GO:0005618; GO:0005773; GO:0005774...,3702,MDLAKFLCWIVLLLGISLVESRYMVYNTSHTIVPGKLNVHVVPHSH...
821,Q9LW07,PGLR3_ARATH,reviewed,Probable polygalacturonase At3g15720 (PG) (EC ...,Arabidopsis_thaliana,456,NaN,GH28;,polygalacturonase activity [GO:0004650],GO:0004650; GO:0005576; GO:0005975; GO:0009505...,3702,MKKKTWFLNFSLFFLQIFTSSNALDVTQFGAVGDGVTDDSQAFLKA...
822,Q940Q1,PLY1_ARATH,reviewed,Probable pectate lyase 1 (EC 4.2.2.2) (Pectate...,Arabidopsis_thaliana,431,NaN,PL1;,metal ion binding [GO:0046872]; pectate lyase ...,GO:0030570; GO:0045490; GO:0046872,3702,MAVLPTWLLAMMCLLFFVGAMENTTHDNISSLPRSDETEWNQHAVT...
...,...,...,...,...,...,...,...,...,...,...,...,...
1473,Q9SJL9,XTH32_ARATH,reviewed,Probable xyloglucan endotransglucosylase/hydro...,Arabidopsis_thaliana,299,XTH32,GH16;,"hydrolase activity, hydrolyzing O-glycosyl com...",GO:0004553; GO:0005618; GO:0010411; GO:0016762...,3702,MGNSLISLLSIFHLLVLWGSSVNAYWPPSPGYWPSSKVGSLNFYKG...
1474,Q1PEF8,INV2_ARATH,reviewed,"Beta-fructofuranosidase, insoluble isoenzyme C...",Arabidopsis_thaliana,590,CWINV2,GH32;,beta-fructofuranosidase activity [GO:0004564],GO:0004564; GO:0005618; GO:0005975; GO:0048046,3702,MSAPKFGYVLLLIVLINISNNGVDAFHKVFKKLQSKSTSLESVSPL...
1475,B9DFA8,INVC_ARATH,reviewed,"Alkaline/neutral invertase C, mitochondrial (A...",Arabidopsis_thaliana,664,INVC,GH100;,glycopeptide alpha-N-acetylgalactosaminidase a...,GO:0004575; GO:0005739; GO:0005987; GO:0007623...,3702,MNSRSCICVSAMKPCCRFLISFRSSSLFGFSPPNSGKFINSSKLHC...
1476,Q500W7,PIGM_ARATH,reviewed,GPI mannosyltransferase 1 (EC 2.4.1.-) (GPI ma...,Arabidopsis_thaliana,450,PIGM,GT50;,"alpha-1,4-mannosyltransferase activity [GO:005...",GO:0000030; GO:0004376; GO:0005789; GO:0006506...,3702,MSRESENTDDEPSKWMKFRSLLVFSMLLRVFLIVYGEWQDAHMEVR...
1477,Q9LFP5,PLY19_ARATH,reviewed,Probable pectate lyase 19 (EC 4.2.2.2),Arabidopsis_thaliana,472,NaN,PL1;,metal ion binding [GO:0046872]; pectate lyase ...,GO:0030570; GO:0045490; GO:0046872,3702,MEMVRLSKLMFTFCIAVLIPTIRGNISELDEYWSQRADEAREFTLQ...

In [121]:
at = at.drop(columns=['status', 'organism id'])
at.head()

,entry,entry name,protein names,organism,length,gene names (primary ),cross-reference (cazy),gene ontology (molecular function),gene ontology ids,sequence
818,Q9ZSJ0,RGXT2_ARATH,"UDP-D-xylose:L-fucose alpha-1,3-D-xylosyltrans...",Arabidopsis_thaliana,367,RGXT2,GT77;,"transferase activity, transferring glycosyl gr...",GO:0000139; GO:0005794; GO:0010306; GO:0016021...,MAQKQQTLHQQRPFSSSPRSYSSISNRPIFLLSRNGLLLVLLALFL...
819,Q9LZV3,MAN6_ARATH,"Mannan endo-1,4-beta-mannosidase 6 (EC 3.2.1.7...",Arabidopsis_thaliana,448,MAN6,GH5;,"mannan endo-1,4-beta-mannosidase activity [GO:...",GO:0005576; GO:0009845; GO:0016985; GO:0071704,MKDQLGFRIVLCSAVFIILTQNRALADLDSESHEVNSESVGEEQWE...
820,Q8LPJ3,MANA2_ARATH,Probable alpha-mannosidase At5g13980 (EC 3.2.1...,Arabidopsis_thaliana,1024,NaN,GH38;,alpha-mannosidase activity [GO:0004559]; carbo...,GO:0004559; GO:0005618; GO:0005773; GO:0005774...,MDLAKFLCWIVLLLGISLVESRYMVYNTSHTIVPGKLNVHVVPHSH...
821,Q9LW07,PGLR3_ARATH,Probable polygalacturonase At3g15720 (PG) (EC ...,Arabidopsis_thaliana,456,NaN,GH28;,polygalacturonase activity [GO:0004650],GO:0004650; GO:0005576; GO:0005975; GO:0009505...,MKKKTWFLNFSLFFLQIFTSSNALDVTQFGAVGDGVTDDSQAFLKA...
822,Q940Q1,PLY1_ARATH,Probable pectate lyase 1 (EC 4.2.2.2) (Pectate...,Arabidopsis_thaliana,431,NaN,PL1;,metal ion binding [GO:0046872]; pectate lyase ...,GO:0030570; GO:0045490; GO:0046872,MAVLPTWLLAMMCLLFFVGAMENTTHDNISSLPRSDETEWNQHAVT...

In [102]:
patt2 ='EC\s[1-9]\.[1-9]\.'
at['protein names'].map(lambda x: re.findall(patt2, x))

818     [EC 2.4.]
819     [EC 3.2.]
820     [EC 3.2.]
821     [EC 3.2.]
822     [EC 4.2.]
          ...
1473    [EC 2.4.]
1474    [EC 3.2.]
1475    [EC 3.2.]
1476    [EC 2.4.]
1477    [EC 4.2.]
Name: protein names, Length: 660, dtype: object

In [108]:
at = at.rename(columns={"cross-reference (cazy)": "familia_cazy"})
at.columns

Index(['entry', 'entry name', 'protein names', 'organism', 'length',
       'gene names  (primary )', 'familia_cazy',
       'gene ontology (molecular function)', 'gene ontology ids', 'sequence'],
      dtype='object')

In [113]:
at.familia_cazy = at.familia_cazy.str.strip(';')
at.familia_cazy

818      GT77
819       GH5
820      GH38
821      GH28
822       PL1
        ...
1473     GH16
1474     GH32
1475    GH100
1476     GT50
1477      PL1
Name: familia_cazy, Length: 660, dtype: object

In [30]:
# Aca pensaba es darles un dominio y que lo busquen, pero no estoy muy seguro si esta correcto esto
# Dominio pectato liasa N: 25 - 103
at.Sequence[542151][24:103]

'NISELDEYWSQRADEAREFTLQAYHSDPYEIVDHFHERHYDNSTDVTTPEEDGDAKPEEEEKEFIEMLGSSTNSTRRSL'

In [33]:
import re
regex1 = re.compile('NISELDEYWSQRADEAREFTLQAYHSDPYEIVDHFHERHYDNSTDVTTPEEDGDAKPEEEEKEFIEMLGSSTNSTRRSL', re.IGNORECASE)
match = regex1.search(at.Sequence[542151][24:103])
match.group()

'NISELDEYWSQRADEAREFTLQAYHSDPYEIVDHFHERHYDNSTDVTTPEEDGDAKPEEEEKEFIEMLGSSTNSTRRSL'

In [43]:
at.sequence.map(lambda x: regex1.search(x))

818                                                  None
819                                                  None
820                                                  None
821                                                  None
822                                                  None
                              ...
1473                                                 None
1474                                                 None
1475                                                 None
1476                                                 None
1477    <re.Match object; span=(24, 103), match='NISEL...
Name: sequence, Length: 660, dtype: object

In [114]:
at['familia_cazy'].value_counts()

GT1           110
GH1            48
GT2            41
GT8            41
GH16           33
             ...
CBM53;GT5       1
GT58            1
CBM45;GH13      1
CBM20           1
GT19            1
Name: familia_cazy, Length: 80, dtype: int64