# Trabajo final

## Ejercicio 0 * - Precalentamiento

La desigualdad triangular es un teorema que dice que en todo triángulo la suma de las longitudes de dos lados 
cualesquiera es siempre mayor a la longitud del lado restante.

Es decir, que si tengo un triángulo de lados a, b y c, se tiene que cumplir que:

- a + b > c
- a + c > b
- b + c > a

Escribir una función que dados tres valores, diga si cumple o no la desigualdad triangular.

## Ejercicio 1 *

El archivo 'cazymes.tab.gz' contiene datos en formato tabular de un conjunto de proteínas revisadas de interés de algunos organismos modelo:

- Homo sapiens
- Mus musculus
- Arabidopsis thaliana
- Rattus norvergicus
- Saccharomyces cerevisiae

Todas las entradas tienen varios datos, incluyendo el número de acceso y nombre de identificador de la proteína en la base de datos Uniprot, el organimo al que pertenece, la longitud, la secuencia primaria, etc. Llamaremos a este conjunto de datos Cazy.

Cargar la tabla de datos como un Data Frame de pandas.
Nota: los campos están separados por el caracter de tabulación ('\t')

- Diga cuantas filas y columnas tiene la tabla de datos.

In [86]:
# carga los datos
import pandas as pd
cazy_url = "https://github.com/Ferorti/escuela2021/raw/main/cazymes.tab.gz"
cazy = pd.read_csv(cazy_url, sep="\t", comment='#')
cazy.head()

,Entry,Entry name,Status,Protein names,Organism,Length,Gene names (primary ),Cross-reference (CAZy),Gene ontology (molecular function),Gene ontology IDs,Organism ID,Sequence
0,P38130,KTR3_YEAST,reviewed,Probable mannosyltransferase KTR3 (EC 2.4.1.-),Saccharomyces cerevisiae (strain ATCC 204508 /...,404,KTR3,GT15;,"alpha-1,2-mannosyltransferase activity [GO:000...",GO:0000026; GO:0000030; GO:0000032; GO:0000324...,559292,MSVHHKKKLMPKSALLIRKYQKGIRSSFIGLIIVLSFLFFMSGSRS...
1,P15703,BGL2_YEAST,reviewed,"Glucan 1,3-beta-glucosidase (EC 3.2.1.58) (Exo...",Saccharomyces cerevisiae (strain ATCC 204508 /...,313,BGL2,GH17;,"1,3-beta-glucanosyltransferase activity [GO:00...",GO:0000324; GO:0004338; GO:0005576; GO:0005975...,559292,MRFSTTLATAATALFFTASQVSAIGELAFNLGVKNNDGTCKSTSDY...
2,Q06350,CHI2_YEAST,reviewed,Sporulation-specific chitinase 2 (EC 3.2.1.14),Saccharomyces cerevisiae (strain ATCC 204508 /...,511,CTS2,GH18;,chitinase activity [GO:0004568]; chitin bindin...,GO:0000272; GO:0004568; GO:0005576; GO:0005737...,559292,MVGHSAQHRSKSSLVSHLLILLIFITIIIEMCLYNKIFKNQRSDDI...
3,P38211,GPI18_YEAST,reviewed,GPI mannosyltransferase 2 (EC 2.4.1.-) (GPI ma...,Saccharomyces cerevisiae (strain ATCC 204508 /...,433,GPI18,GT76;,"alpha-1,6-mannosyltransferase activity [GO:000...",GO:0000009; GO:0000030; GO:0004376; GO:0005739...,559292,MIVGLTLYFVLFRSIQYLLVFLTPIRQFDTSTSLLLNELCSSPSEI...
4,P32363,GPI3_YEAST,reviewed,Phosphatidylinositol N-acetylglucosaminyltrans...,Saccharomyces cerevisiae (strain ATCC 204508 /...,452,SPT14,GT4;,phosphatidylinositol N-acetylglucosaminyltrans...,GO:0000506; GO:0005783; GO:0005829; GO:0006506...,559292,MGFNIAMLCDFFYPQLGGVEFHIYHLSQKLIDLGHSVVIITHAYKD...

## Ejercicio 2 *

Se quiere cambiar el formato de los datos leidos anteriormente.
Para ello:
- Convierta el nombre de las columnas del Dataframe a minúsculas.
- Cambie el formato de la columna 'organism', para que el contenido sea solamente el genero y la especie, separados por un guion bajo ('_'), y todo en minúsculas (por ejemplo, 'homo_sapiens'). Para ello, use expresiones regulares.
- Elimine las columnas "status" y "organism id" del Dataframe.
- Cree una nueva columna 'ec number', que contenga el número E.C. de cada proteína. Para ello, debe extraer este dato de la columna ('protein name') del Dataframe usando expresiones regulares.
- Diga qué columnas tienen datos faltantes (NaN).
  - Hint: Use la el método '.apply' de Dataframe, el método '.isna' de las Series y la función 'any()'.
- Elimine las filas que tengan 'NaN' en la columa que corresponde a los nombre de los genes.
  - Hint: Use el método '.dropna', con el argumento 'subset'.

## Ejercicio 3 **

- Haga un recuento de la cantidad de proteínas por organismo.
- ¿Qué nombres de genes aparecen repetidos en más de una proteína?
- ¿Hay algún caso en el que se repita el nombre del gen en proteínas del mismo organismo?

## Ejercicio 4 *

- Genere un subset de las proteínas que corresponda a las proteínas de _Arabidopsis thaliana_ y un tamaño menor a 400 residuos.
- ¿Cuál es la longitud promedio de las proteínas de este subset?
- ¿Cuál es el rango de tamaños del percentil 5 al percentil 95?

## Ejercicio 5 ***

El archivo ubicado en la URL: "http://elm.eu.org/elms/elms_index.tsv", contiene datos de la bases de datos de ELM de motivos lineales en proteínas. El archivo es una tabla, en la cual cada fila es una clase de motivos, y las columnas son diferentes descriptores.
Entre ellos está el código de acceso de la clase en la base de datos ('Accession') y otra con una expresión regular que permite reconocer posibles instancias de ese motivo en la secuencia de una proteína ('Regex').

Basado en los datos de este archivo, juntos con los de datos de Cazy, construya un nuevo DataFrame que muestre que clases de motivos lineales puede ser encontrado en la secuencia de cada proteína del conjunto Cazy.

Este DataFrame debe tener tantas filas como el dataframe del conjunto Cazy y tres columnas:

- La primer columna debe tener el número de acceso de Uniprot de la proteína.
- La segunda columna debe tener una lista con los códigos de acceso de ELM de cada clase de motivo lineal que fue encontrada en la secuencia de la proteína.
- La tercer columna deber contener el tamaño de las lista de la segunda columna.

In [85]:
elm_classes_url = "http://elm.eu.org/elms/elms_index.tsv"
elm_data = pd.read_csv(elm_classes_url, sep="\t", comment='#')
elm_data.head()

,Accession,ELMIdentifier,FunctionalSiteName,Description,Regex,Probability,#Instances,#Instances_in_PDB
0,ELME000321,CLV_C14_Caspase3-7,Caspase cleavage motif,Caspase-3 and Caspase-7 cleavage site.,[DSTE][^P][^DEWHFYC]D[GSAN],0.003094,41,0
1,ELME000172,CLV_MEL_PAP_1,Melanisation activation site,Prophenoloxidase-activating proteinase (PAP) c...,[ILV]..R[VF][GS].,0.000105,12,0
2,ELME000102,CLV_NRD_NRD_1,NRD cleavage site,N-Arg dibasic convertase (NRD/Nardilysin) clea...,(.RK)|(RR[^KR]),0.007465,2,0
3,ELME000101,CLV_PCSK_FUR_1,PCSK cleavage site,Furin (PACE) cleavage site (R-X-[RK]-R-|-X).,R.[RK]R.,0.000509,13,0
4,ELME000108,CLV_PCSK_KEX2_1,PCSK cleavage site,Yeast kexin 2 cleavage site (K-R-|-X or R-R-|-X).,[KR]R.,0.007973,1,0

## Ejercicio 6 *

Cree un Dataframe que tenga las tres clases de elm_data, que tengan mayor probabilidad de aparición (Columna 'Probability') del Dataframe, ordenados de mayor a menor.