In [ ]:
import pandas as pd
pd.options.mode.chained_assignment = None  # ocultar alertas

---

1. Población Argentina

La siguiente tabla contiene la cantidad de habitantes y la superficie (en Kms cuadrados) de las provincias argentinas.

+ ordene la tabla por provincia alfabeticamente, tiene algun problema? qué puede estar pasando? Si no pudo, no importa, lo vemos despues
+ calcule la densidad de habitantes por provincia
+ Cuales son las 5 provincias argentinas con mayor cantidad de habitantes? y las 5 menos pobladas?
+ Cuales son las 5 provincias argentinas con mayor densidad poblacional? y las 5 con menor densidad?
+ ordene el dataframe por densidad de habitantes (de mayor a menor)
+ Cual sería la población total y la densidad total de Argentina segun estos datos?

tips: recordar los separadores de los archivos

In [5]:
poblacion = pd.read_csv("https://raw.githubusercontent.com/Ferorti/escuela2021/main/data/provincias.csv", sep='\t') # Cargamos los datos, ojo al separador
poblacion.head()

                         provincia  habitantes  superficie
0  Ciudad Autónoma de Buenos Aires     2890151         200
1                     Buenos Aires    15625084      307571
2                Gran Buenos Aires     9916715        3680
3         Interior de Buenos Aires     5708369      303891
4                        Catamarca      367828      102602

In [6]:
poblacion.sort_values('provincia').head() # Queda mal ordenada, por que?

                        provincia  habitantes  superficie
2               Gran Buenos Aires     9916715        3680
3        Interior de Buenos Aires     5708369      303891
1                    Buenos Aires    15625084      307571
4                       Catamarca      367828      102602
5                           Chaco     1055259       99633

Algunos nombres están mal ingresados, tienen espacios de más.
Lo podemos solucionar con el método map de las series pasando como argumento la el método .strip() de los strings, sin los parentesis.
Para operaciones con strings, las series tienen el método str() el cual ofrece funciones para trabajar los strings en forma vectorizada.

In [10]:
print(poblacion.sort_values('provincia').loc[2,'provincia'])
# poblacion.sort_values('provincia').iloc[0,0]  # da lo mismo)

      Gran Buenos Aires

In [21]:
# Forma con el metodo str(). de las series
#poblacion['provincia'] = poblacion['provincia'].str.strip()

# Forma con map() y strip()
poblacion['provincia'] = poblacion.provincia.map(str.strip)

In [ ]:
# probar que pasa si por corremos
poblacion['provincia'].str[:5].str.upper().str.replace(' ','_')

In [39]:
poblacion = poblacion.sort_values('habitantes', ascending=False)

In [38]:
# Calcular la densidad
poblacion['densidad'] = poblacion['habitantes'] / poblacion['superficie']

Como pueden ver, utilizando str. antes de los métodos de strings, podemos realizar operaciones con strings en forma vectorizada, sin tener que hacer bucles for.

In [42]:
solo_provincias = poblacion[ ~ poblacion.provincia.isin(['Gran Buenos Aires', 'Interior de Buenos Aires'])]
# El operador ~ funciona como un "not" que convierte todos los True de una serie en False y viceversa
# Recordemos que con el metodo .isin(lista) nos quedar con elementos de la serie estan en la lista,
# Agregando ~ nos vamos a quedar con elementos NO esten en la lista:

# Otra alternativa sería
poblacion[(poblacion.provincia != "Gran Buenos Aires") &  (poblacion.provincia != "Interior de Buenos Aires") ]  # Notar que el & quivale al operador and (que no sepuede utilizar con series)
# Además los paréntesis son necesarios.

top5 = solo_provincias.sort_values('habitantes', ascending=False).head().provincia.to_list() # to_list() convierte una serie a una lista
menos_pobladas = solo_provincias.sort_values('habitantes').head().provincia.to_list()

print('Las 5 provincias más pobladas de la argentina son:')
print('\n'.join(top5))

print()

print('Las 5 provincias menos pobladas de la argentina son:')
print('\n'.join(menos_pobladas))

Las 5 provincias más pobladas de la argentina son:
Buenos Aires
Córdoba
Santa Fe
Ciudad Autónoma de Buenos Aires
Mendoza

Las 5 provincias menos pobladas de la argentina son:
Tierra del Fuego, Antártida e Islas del Atlántico Sur
Santa Cruz
La Pampa
La Rioja
Catamarca

In [43]:
top5_densidad = solo_provincias.sort_values('densidad', ascending=False).head().provincia.to_list() # to_list() convierte una serie a una lista
menos_densas = solo_provincias.sort_values('densidad').head().provincia.to_list()

print('Las 5 provincias más densamente pobladas de la argentina son:')
print('\n'.join(top5_densidad))

print()

print('Las 5 provincias menos densamente pobladas de la argentina son:')
print('\n'.join(menos_densas))

Las 5 provincias más densamente pobladas de la argentina son:
Ciudad Autónoma de Buenos Aires
Tucumán
Buenos Aires
Misiones
Santa Fe

Las 5 provincias menos densamente pobladas de la argentina son:
Tierra del Fuego, Antártida e Islas del Atlántico Sur
Santa Cruz
La Pampa
Chubut
Río Negro

In [44]:
# ordenar por densidad
poblacion = poblacion.sort_values('densidad', ascending=False)

In [47]:
densidad_argentina = solo_provincias.habitantes.sum() / solo_provincias.superficie.sum() # Por que no con el dataframe poblacion?
print("La densidad poblacional de Argentina en 2010 es de:", round(densidad_argentina,2),'Habitantes/Km2')

La densidad poblacional de Argentina en 2010 es de: 10.67 Habitantes/Km2

---

2-Tenemos el dataframe Iris, un dataset muy utilizado en análisis de datos, con mediciones del ancho y el largo del petatalo y del sepalo para algunas variedades de flores iris

* Cuantas filas y columnas tiene el dataset?
* de qué tipo de datos es cada columna?
* Cuantas variedades de iris tiene el dataset?
* Calcule la media y el desvio standard del largo del sepalo y del petalo, sin discriminar por variedad de flor
* Calcule de nuevo la media y el std pero ahora para cada variedad

In [60]:
iris = pd.read_csv("https://raw.githubusercontent.com/Ferorti/escuela2021/main/data/iris.data.csv")
nrow, ncol = iris.shape

print('Iris tiene {} filas y {} columnas'.format(nrow, ncol))

Iris tiene 150 filas y 5 columnas

In [62]:
print(iris.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   variedad      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [73]:
variedades = iris.variedad.unique()

print('Iris tiene', len(variedades), 'variedades de flor:', ", ".join(variedades))

Iris tiene 3 variedades de flor: Iris-setosa, Iris-versicolor, Iris-virginica

In [77]:
print('Mean y Std sin discriminar por variedad de flor:')
iris.describe().loc[['mean','std'], ['sepal_length', 'petal_length']]

Mean y Std sin discriminar por variedad de flor:

      sepal_length  petal_length
mean      5.843333      3.758667
std       0.828066      1.764420

In [100]:
print('Separando por variedad de flor:')

iris.groupby('variedad')[['sepal_length', "petal_length"]].describe()

Separando por variedad de flor:

                sepal_length                        ... petal_length
                       count   mean       std  min  ...          25%   50%    75%  max
variedad                                            ...
Iris-setosa             50.0  5.006  0.352490  4.3  ...          1.4  1.50  1.575  1.9
Iris-versicolor         50.0  5.936  0.516171  4.9  ...          4.0  4.35  4.600  5.1
Iris-virginica          50.0  6.588  0.635880  4.9  ...          5.1  5.55  5.875  6.9

[3 rows x 16 columns]

---
3. Dominios PFAM

A continuación tenemos una tabla con información sobre los dominios de PFAM que tienen un grupo de proteínas.

* Que tipo de columnas tiene la tabla, cuantas filas tiene?
* Corresponden a varios organismos las proteinas?
* Hay una fila por proteína o puede habar más de una?
* Cuantas veces aparece cada dominio en la tabla?
* Que proteínas tienen más dominios?
* Que proteínas tienen más dominios diferentes?
* calcule el largo del dominio a partir del start y end (posiciones de los aminoácidos)
* que proteinas poseen al menos un dominio RRM_1

tips: pruebe o averigue para qué sirve el método ```.value_counts()``` de las Series. En lo posible con series con strings.

Aclaracion: La tabla es un subset de una tabla muy grande, por eso algunos dominios no aparecen en las proteinas

In [101]:
dominios = pd.read_csv("https://raw.githubusercontent.com/Ferorti/escuela2021/main/data/dominios.csv")

In [102]:
dominios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2048 entries, 0 to 2047
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gen      2044 non-null   object
 1   uniprot  2048 non-null   object
 2   org      2048 non-null   object
 3   domain   2048 non-null   object
 4   start    2048 non-null   int64
 5   end      2048 non-null   int64
dtypes: int64(2), object(4)
memory usage: 96.1+ KB

In [104]:
dominios.org.value_counts()

Homo sapiens    2048
Name: org, dtype: int64

In [105]:
dominios.gen.value_counts() # Hay proteinas con anotaciones en varias filas

TTN       295
TNXB       31
SPTBN5     27
DST        20
SPTAN1     20
         ...
DDX53       1
NIPBL       1
LYST        1
PKN1        1
ZFHX3       1
Name: gen, Length: 714, dtype: int64

In [107]:
dominios.domain.value_counts() # cantidad de veces que aparece cada dominio en la tabla

WD40        346
fn3         292
RRM_1       290
Pkinase     235
I-set       233
Spectrin    179
zf-C2H2     164
PLD         115
Ank_2       107
KH_1         87
Name: domain, dtype: int64

In [119]:
dominios.groupby('gen').agg('size').sort_values(ascending= False)[:20]

gen
TTN        295
TNXB        31
SPTBN5      27
DST         20
SPTAN1      20
SPTB        17
SPTBN1      17
SPTBN2      17
MACF1       17
TNC         15
SPTBN4      14
HDLBP       14
IGF2BP2     12
ZNF774      11
ZNF79       11
PTPRF       10
ANKHD1      10
SYNE1       10
ZSCAN12     10
ANKRD17     10
dtype: int64

In [123]:
dominios.drop_duplicates(["gen",'domain']).groupby('uniprot').agg('size').sort_values(ascending= False)[:20]

uniprot
O60229    4
O75962    3
Q8WZ42    3
P32004    2
P22626    2
Q01085    2
Q9H4A3    2
P13591    2
Q86SG3    2
Q12860    2
Q38SD2    2
Q9NZI8    2
Q32P51    2
P23246    2
O15394    2
Q13148    2
Q9NQZ3    2
Q13151    2
Q96PK6    2
Q01844    2
dtype: int64

In [125]:
dominios['largo'] = dominios['end'] - dominios['start'] + 1

In [127]:
dominios.sort_values('largo')

         gen uniprot           org   domain  start  end  largo
1902   LLGL1  Q15334  Homo sapiens     WD40    447  461     15
1621   CTCFL  Q8NI51  Homo sapiens  zf-C2H2    546  564     19
135     CTCF  P49711  Homo sapiens  zf-C2H2    555  573     19
536    SNAI2  O43623  Homo sapiens  zf-C2H2    241  259     19
2020   WDR62  O43379  Homo sapiens     WD40    422  441     20
...      ...     ...           ...      ...    ...  ...    ...
1350    CLK3  P49761  Homo sapiens  Pkinase    304  620    317
521     CLK2  P49760  Homo sapiens  Pkinase    163  479    317
1201    CLK4  Q9HAZ1  Homo sapiens  Pkinase    159  475    317
39    DYRK1A  Q13627  Homo sapiens  Pkinase    159  479    321
245    HIPK2  Q9H2X6  Homo sapiens  Pkinase    199  527    329

[2048 rows x 7 columns]

---

4. Genes enriquecidos en RNAseq

Se tiene una tabla con el resultado de un RNAseq con el fin de ver que transcriptos se encuentras sobre o subexpresados.

* Descartar todos los transcriptos no significativamente relevantes según fdr < 0.05
* Que transcriptos se encuentran sobre expresados al doble o mas? (logFC > 1)
* Que transcriptos se encuentran sib expresados a la mitad o menos? (logFC < -1)

* repetir con fdr < 0.01

In [128]:
datos = pd.read_csv("https://raw.githubusercontent.com/Ferorti/escuela2021/main/data/gene.de.tab")

In [131]:
significativos = datos[datos['gen.fdr'] < 0.05]

In [133]:
sobreexpresados = significativos[significativos.logFC > 1].symbol.unique().tolist()
print(len(sobreexpresados), 'transcriptos sobreexpresados')

545 transcriptos sobreexpresados

In [134]:
subexpresados = significativos[significativos.logFC < -1].symbol.unique().tolist()
print(len(subexpresados), 'transcriptos subexpresados')

437 transcriptos subexpresados

In [145]:
# Con 0.01

significativos = datos[datos['gen.fdr'] < 0.01]

sobreexpresados = significativos[significativos.logFC > 1].symbol.unique().tolist()
print(len(sobreexpresados), 'transcriptos sobreexpresados')

subexpresados = significativos[significativos.logFC < -1].symbol.unique().tolist()
print(len(subexpresados), 'transcriptos subexpresados')

527 transcriptos sobreexpresados
431 transcriptos subexpresados